<h2>{{ nombre }}</h2>
<hr />
<h1>{{ mensaje }}</h1>
<hr />
<app-saludo></app-saludo>
<!--busca el componente que tiene ese selector, y lo que hace es reemplazarlo
por la vista de app saludo.component.html -->
<hr />
<app-interpolacion></app-interpolacion>
<hr />
<app-property-binding></app-property-binding>
<hr />
<app-event-binding></app-event-binding>
<hr />
<app-thoway-data-binding></app-thoway-data-binding>
<hr />
<app-direc-atributo></app-direc-atributo>
<hr />
<app-direc-estructural></app-direc-estructural>
